header h1{
    color: #4d68af;
    font-size: 2rem;
}

body{
    padding: 0px 0px 0px 3px;
    margin: 0px;
}

.flex-box{
    display:flex;
}

#main{
    flex: 2 1 auto;
    background-color: rgb(255, 255, 255);
    max-width: 70%;
}

#main header h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#main header h2{
    font-weight: normal;
    padding: 0px 0px 0px 3px;
    margin: 0px 0px 0px 0px;
}
#main header p{
    font-weight: lighter;
    padding: 3px 0px 0px 6px;
    margin: 0px 0px 0px 0px;
}
#main main h2{
    padding: 6px 0px 6px 3px;
    margin: 6px 0px 6px 0px;
    border-top: 2px solid #4d68af;
    border-bottom: 2px solid #4d68af;
    border-collapse: collapse;
    color: #4d68af;
}

.work-title-li{
    list-style: none;
    font-size: medium;
}

.work-title-li li{
    list-style: disc;
}

.work-experience div{
    display: flex;
}

.work-experience h3{
    margin: 0px;
    padding: 0px;
}

.work-experience ul{
    margin: 0px 0px 6px 0px;
}

.education-title-li{
    list-style: none;
    font-size: medium;
}

.education-title-li li{
    list-style: disc;
}

.education-title-li div{
    display: flex;
}

.education h3{
    margin: 0px;
    padding: 0px;
}

.education ul{
    margin: 0px 0px 6px 0px;
}

.company{
    margin: 0px;
    padding: 0px 0px 3px 0px;
}

.school{
    margin: 0px;
    padding: 0px 0px 3px 0px;
}

.duration{
    margin: 0px 12px 0px auto;
    padding: 0px 0px 6px auto;
}

.lac ul{
    margin-top: 0px;
}

#aside{
    flex: 1 1 auto;
    color: #ffffff;
    background-color: #4d68af;
    padding: 24px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    max-width: 30%;
}


.contact-info h2{
    padding: 0px 0px 0px 6px;
    margin: 0px 0px 0px 0px;
}

.contact-info ul{
    padding: 0px 0px 0px 12px;
    margin: 0px 0px 0px 0px;
}

.contact-info li{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style: none;
}

.contact-info a{
    color: white;
    text-decoration: none;
}

.contact-info a:hover{
    color: red;
}


.skills h2{
    margin: 0px 0px 0px 0px;
    padding: 12px 0px 0px 6px;
}

.skills ul{
    min-width: 200px;
    padding: 0px;
    margin: 0px;
}

.skills ul:last-child{
    min-width: 200px;
    padding: 0px 0px 12px 0px;
    margin: 0px;
}

.skills li{
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 3px 6px;
    list-style: none;
}

.skills h3{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: medium;
}

.progress-bar-outer{
    margin: 0px 6px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #212f52;
    border-radius: 5px;
}

.progress-bar-inner{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 6px;
    border-radius: 5px;
}

#hs1 .progress-bar-inner{
    background-color: #27e637;
    width: 70%;
}

#hs2 .progress-bar-inner{
    background-color: #27e637;
    width: 65%;
}

#hs3 .progress-bar-inner{
    background-color: #27e637;
    width: 65%;
}

#hs4 .progress-bar-inner{
    background-color: #27e637;
    width: 60%;
}

#hs5 .progress-bar-inner{
    background-color: #27e637;
    width: 60%;
}

#hs6 .progress-bar-inner{
    background-color: #e6d626;
    width: 55%;
}

#hs7 .progress-bar-inner{
    background-color: #e6d626;
    width: 55%;
}

#hs8 .progress-bar-inner{
    background-color: #e6d626;
    width: 50%;
}

#hs9 .progress-bar-inner{
    background-color: #e68027;
    width: 45%;
}

#ss1 .progress-bar-inner{
    background-color: #27e637;
    width: 85%;
}

#ss2 .progress-bar-inner{
    background-color: #27e637;
    width: 65%;
}

#ss3 .progress-bar-inner{
    background-color: #27e637;
    width: 65%;
}

#ss4 .progress-bar-inner{
    background-color: #27e637;
    width: 60%;
}

#ss5 .progress-bar-inner{
    background-color: #27e637;
    width: 60%;
}

#ss6 .progress-bar-inner{
    background-color: #e6d626;
    width: 45%;
}

.interests h2{
    padding: 0px 0px 0px 6px;
    margin: 0px;
}

.interests span{
    position: relative;
    left: -12px;
}
.interests ul{
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 6px;
}
.interests li{
    padding: 0px 0px 0px 6px;
    margin: 0px 0px 0px 0px;
}




