
header h1{
    color: #4d68af;
}

body{
    padding: 0px 0px 0px 3px;
    margin: 0px;
}

.flex-box{
    display:flex;
}

#main{
    flex: 2.5 1 auto;
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
}

#main header h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#main header h2{
    font-weight: normal;
    padding: 0px 0px 0px 3px;
    margin: 0px 0px 0px 0px;
}
#main header p{
    font-weight: lighter;
    padding: 3px 0px 0px 6px;
    margin: 0px 0px 0px 0px;
}
#main main h2{
    padding: 6px 0px 6px 3px;
    margin: 6px 0px 6px 0px;
    border-top: 2px solid #4d68af;
    border-bottom: 2px solid #4d68af;
    border-collapse: collapse;
    color: #4d68af;
}

.work-title-li{
    list-style: none;
    font-size: medium;
}

.work-title-li li{
    list-style: disc;
}

.work-experience div{
    display: flex;
}

.work-experience h3{
    margin: 0px;
    padding: 0px;
}

.work-experience ul{
    margin: 0px 0px 6px 0px;
}

.education-title-li{
    list-style: none;
    font-size: medium;
}

.education-title-li li{
    list-style: disc;
}

.education-title-li div{
    display: flex;
}

.education h3{
    margin: 0px;
    padding: 0px;
}

.education ul{
    margin: 0px 0px 6px 0px;
}

.company{
    margin: 0px;
    padding: 0px 0px 3px 0px;
}

.school{
    margin: 0px;
    padding: 0px 0px 3px 0px;
}

.duration{
    margin: 0px 12px 0px auto;
    padding: 0px 0px 6px auto;
}

#aside{
    flex: 1 1 auto;
    color: #ffffff;
    background-color: #4d68af;
    padding: 3px 0px 0px 0px;
    max-width: 300px;
}
#aside h2{
    padding: 0px 0px 0px 6px;
}

.contact-info ul{
    padding: 0px 0px 0px 24px; 
}

.contact-info li{
    list-style: none;
}

.contact-info a{
    text-decoration: none;
}

.contact-info a:link{
    color:white;
}

.contact-info a:visited{
    color:white;
}

.contact-info a:active{
    color:white;
}

.contact-info a:hover{
    color:red;
}

